<!DOCTYPE html>
<html>
<head>
    <title>Add Crop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header">
    <h1>Add Crop Record</h1>
</div>

<div style="padding:30px;">

<form>

    <input type="text" placeholder="Crop Name"><br><br>

    <input type="text" placeholder="Location"><br><br>

    <input type="number" placeholder="Yield Amount"><br><br>

    <button type="submit">Add Crop</button>

</form>

</div>

</body>
</html>