<!DOCTYPE html>
<html>
<head>
    <title>Crop Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>HarvestIQ</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/add-crop">Add Crop</a>
    <a href="/crops">View Crops</a>
    <a href="/reports">Reports</a>
</div>

<div class="main-content">

    <div class="header">
        <h1>Crop Records</h1>
    </div>

    <div style="padding:30px;">

        <table>

            <tr>
                <th>ID</th>
                <th>Crop</th>
                <th>Location</th>
                <th>Yield</th>
                <th>Action</th>
            </tr>

            {% for crop in crops %}
            <tr>
                <td>{{ crop[0] }}</td>
                <td>{{ crop[1] }}</td>
                <td>{{ crop[2] }}</td>
                <td>{{ crop[3] }}</td>

                <td>
                    <a href="/edit/{{ crop[0] }}">Edit</a> |
                    <a href="/delete/{{ crop[0] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>