<!DOCTYPE html>
<html>
<head>
    <title>Edit Crop</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="sidebar">
    <h2>HarvestIQ</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/add-crop">Add Crop</a>
    <a href="/crops">View Crops</a>
    <a href="/reports">Reports</a>
</div>

<div class="main-content">

    <div class="header">
        <h1>Edit Crop Record</h1>
    </div>

    <div class="form-container">

        <form method="POST">

            <input type="text"
                   name="crop_name"
                   value="{{ crop[1] }}"
                   required>

            <input type="text"
                   name="location"
                   value="{{ crop[2] }}"
                   required>

            <input type="number"
                   name="yield_amount"
                   value="{{ crop[3] }}"
                   required>

            <button type="submit">
                Update Crop
            </button>

        </form>

    </div>

</div>

</body>
</html>