<!DOCTYPE html>
<html>
<head>
    <title>HarvestIQ Login</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="login-page">

    <div class="login-box">

        <h1>🌾 HarvestIQ</h1>

        <p>Crop Analytics Cloud Platform</p>

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</div>

</body>
</html>