<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>HarvestIQ</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/add-crop">Add Crop</a>
    <a href="/crops">View Crops</a>
    <a href="/reports">Reports</a>
</div>

<div class="main-content">

    <div class="header">
        <h1>HarvestIQ Reports</h1>
    </div>

    <div style="padding:30px;">

        <h2>Summary Report</h2>

        <p>Total Crops: {{ total_crops }}</p>
        <p>Total Yield: {{ total_yield }}</p>
        <p>Total Locations: {{ total_locations }}</p>

    </div>

</div>

</body>
</html>