<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>HarvestIQ</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/add-crop">Add Crop</a>
    <a href="/crops">View Crops</a>
    <a href="/reports">Reports</a>
</div>

<div class="main-content">

    <div class="card-container">

    <div class="card">
        <h2>{{ total_crops }}</h2>
        <p>Total Crops</p>
    </div>

    <div class="card">
        <h2>{{ total_locations }}</h2>
        <p>Total Locations</p>
    </div>

    <div class="card">
        <h2>{{ total_yield }}</h2>
        <p>Total Yield</p>
    </div>

</div>

</div>

</body>
</html>